#general java
*.class
*.war
*.jar

# python
*.pyc

# eclipse stuffs
.settings/*
*/.settings/
.classpath
.project
*/.externalToolBuilders
*/maven-eclipse.xml

# intellij stuff
.idea/
*.iml

#maven stuffs
target/
release/
