


table.index {
    width: 60%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px none;
    border-collapse: collapse;
}

td.index {
    width: 20%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px none;
    border-collapse: collapse;
    vertical-align: top;
}



code {
    background-color: #ece9d8;
    padding: 0px 4px;
    color: #000000;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size:small;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.railroad {
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: top;
}

.c {
    color: #000000;
    padding: 1px 3px;
    margin: 0px 0px;
    border: 2px solid;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
    border-radius: 0.4em;
    background-color: #fff;
}

.ts {
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: top;
    width: 16px;
    height: 24px;
    background-image: url(images/div-ts.png);
    background-size: 16px 512px;
}

.ls {
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: top;
    width: 16px;
    height: 24px;
    background-image: url(images/div-ls.png);
    background-size: 16px 512px;
}

.ks {
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: top;
    width: 16px;
    height: 24px;
    background-image: url(images/div-ks.png);
    background-size: 16px 512px;
}

.te {
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: top;
    width: 16px;
    height: 24px;
    background-image: url(images/div-te.png);
    background-size: 16px 512px;
}

.le {
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: top;
    width: 16px;
    height: 24px;
    background-image: url(images/div-le.png);
    background-size: 16px 512px;
}

.ke {
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: top;
    width: 16px;
    height: 24px;
    background-image: url(images/div-ke.png);
    background-size: 16px 512px;
}

.d {
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: top;
    min-width: 16px;
    height: 24px;
    background-image: url(images/div-d.png);
    background-size: 1024px 512px;
}
