/* You can override this file with your own styles */

@media (min-width: 980px) {
h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before,
a[name]:before {
    display:block; 
    content:""; 
    height:55px; 
    margin:-55px 0 0; 
}
}

@media (max-width: 979px) {
h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before,
a[name]:before {
    display:block; 
    content:""; 
    height:0px; 
    margin:0px 0 0; 
}
}

.navbar-fixed-top {
margin-bottom: 0px;
}

@media (min-width: 980px) {
body {
  padding-top: 40px;
  padding-bottom: 20px;
}
}

.page-header {
padding-bottom: 0px;
margin-top: 20px;
margin-bottom: 10px;
}


@media (max-width: 479px) {
	.xtoplogo {
	height: 23px;
	width: 183px;
	background:url(../images/topbar-logo-small.png)
	}
}

@media (min-width: 480px) {
	.xtoplogo {
	height: 23px;
	width: 360px;
	background:url(../images/topbar-logo.png)
	}
}
