<div class="jumbotron">
  <h1>About</h1>
</div>


<div class="page-header">
<p>The tracing web app for Apache Phoenix contains features list, dependency tree, trace count, trace distribution and timeline.</p>
<p>In List the most recent traces are listed down. The limiting value is used to determine the trace count displayed. With each trace there is an option to view either the dependency tree or the timeline.The dependency tree views the traces belonging to a trace id in a tree view. The trace id is the input to the system. The parent child relationship of the traces can be viewed clearly. The tooltip gives the host name, parent id, span id,start time,end time, description and duration. Each node is collapsable and expandable. The SQL Query is viewed for each search. In the trace count the trace list is categorized by the description.</p>
<p>The trace count chart can be viewed as pie charts, line charts, bar charts and area charts. The chart changing option is collapseble and could be hidden. The trace distribution chart shows the traces across phoenix hosts on which they are running. The charts used are pie charts, line charts, bar charts and area charts. The chart changing option is collapseble and could be hidden. In the traces can be viewed along the timeline for a given trace id. Traces can be added or cleared from the timeline. There should be a minimum of two traces starting at two different times for the system to draw its timeline. <p>
</div>