 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Help</h1>
</div>


<div class="page-header">
  <div class="list-group">
    <div href="#" class="list-group-item">
      <h4 class="list-group-item-heading">1. Enable tracing for Apache Phoenix [1]</h4>
      <p class="list-group-item-text"><a href= "https://phoenix.apache.org/tracing.html">https://phoenix.apache.org/tracing.html</a></p>
    </div>
  </div>

  <div class="list-group">
    <div href="#" class="list-group-item">
      <h4 class="list-group-item-heading">2. Start the web app</h4>
      <p class="list-group-item-text"><code>python traceserver.py start</code></p>
    </div>
  </div>

  <div class="list-group">
    <div href="#" class="list-group-item ">
      <h4 class="list-group-item-heading">3. Open following address on a web browser</h4>
      <p class="list-group-item-text"><code>-Dphoenix.traceserver.http.port=8887</code></p>
    </div>
  </div>

  <div class="list-group">
    <div class="list-group-item">
      <h4 class="list-group-item-heading">4. Stop trace web app</h4>
      <p class="list-group-item-text"><code>python traceserver.py stop</code></p>
    </div>
  </div>

</div>
