 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Phoenix Tracing</h1>
  <p>You have more interaction with Phoenix Tracing. This User Interface allows you to see and search each important step in a query or insertion,
  all they way from the client through into the HBase side, and back again.</p>
</div>
<div class="page-header">
  <h4><span class="label label-success">Apache Phoenix</span> is sql query engine for Apache Hbase.</h4>
  <h4>It helps managing and querying the Hbase tables. The web app is used to visualize the tracing information. It helps to predict and analyze query information and system matrices</h4>

  <h4><span class="label label-success">The Apache Phoenix Tracing Web app</span> has 5 features.</h4>

  <ol>
    <li>List - lists the the traces with user preferred limits with access to it's dependency tree and timelines. </li>
    <li>Count Chart - Categorizing the traces according to the description. </li>
    <li>Trace Distribution -  Visualizing the trace counts based on the host they are running.</li>
    <li>Trace Timeline - Visualizing the traces along the time axis. </li>
    <li>Dependency Tree - Creating the tree view of the traces.</li>
   </ol>
</div>
