<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Phoenix Tracing Search</h1>
</div>

<label>Search By 
  <select ng-model="selectedSearchType">
    <option value="trace_id">Trace ID</option>
    <option value="host">Host</option>
    <option value="query">Query</option>
    <option value="description">Description</option>
  </select>
  <input type="text" ng-model="traceId"/>
  <button ng-click="searchTrace()">Search</button>
</label>

<ul class="nav nav-tabs">
  <li ng-repeat="tab in tabs" 
    ng-class="{active:isActiveTab(tab.url)}" 
    ng-click="onClickTab(tab)"><a>{{tab.title}}</a>
  </li>
</ul>

<div id="mainView">
  <div ng-include="currentTab"></div>
</div>

<!-- template for tab view -->
<script type="text/ng-template" id="one.tpl.html">
  <div id="List">
    <h1>List</h1>
      <div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Parent ID</th>
        <th>Span ID</th>
        <th>Description</th>
        <th>View Models</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trace in traces">
        <td>{{trace.parent_id}}</td>
        <td>{{trace.span_id}}</td>
        <td>{{trace.description | limitTo:letterLimit}}</td>
        <td>
          <div class="btn-group " role="group" aria-label="...">
             <a href="./#/dependency-tree?traceid={{trace.trace_id}}" class="btn btn-info" role="button"><i class="fa fa-sort-amount-asc"></i></a>
             <a href="./#/trace-timeline?traceid={{trace.trace_id}}" class="btn btn-info" role="button"><i class="fa fa-sliders"></i></a>
          </div>
        </td>
      </tr>
     </tbody>
  </table>
</div>
  </div>
</script>
  
<script type="text/ng-template" id="two.tpl.html">
  <div id="timeline">
  <h1>TimeLine</h1>
  <div google-chart chart="chartObject" style="height: 100%;"></div>
  </div>
</script>

<script type="text/ng-template" id="three.tpl.html">
  <div id="dependencytree">
    <h1>Dependency Tree</h1>
    <div class="alert {{page.alertType}}" role="alert">{{reqStatus}}</div>
    <div google-chart chart="dependencyTreeObject" style="height: 70%;"></div>
  </div>
</script>

<script type="text/ng-template" id="four.tpl.html">
  <div id="Trace Distribution">
    <h1>Trace Distribution</h1>
    <p>Trace Distribution...</p>
  </div>
</script>
