<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Phoenix Tracing Search</h1>
</div>

<label>Search By 
  <select ng-model="selectedSearchType">
    <option value="trace_id">Trace ID</option>
    <option value="host">Host</option>
    <option value="query">Query</option>
    <option value="description">Description</option>
  </select>
  <input type="text" ng-model="traceId"/>
  <button ng-click="searchTrace()">Search</button>
  <button ng-click="cleanTrace()">cleanTrace</button>
</label>

<ul class="nav nav-tabs">
  <li ng-repeat="tab in tabs" 
    ng-class="{active:isActiveTab(tab.url)}" 
    ng-click="onClickTab(tab)"><a>{{tab.title}}</a>
  </li>
</ul>

<div id="mainView">
  <div ng-include="currentTab"></div>
</div>

<!-- template for tab view -->
<script type="text/ng-template" id="one.tpl.html">
  <div id="List">
    <h1>List</h1>
      <div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Start Time</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trace in traces">
        <td>{{trace.description | limitTo:letterLimit}}</td>
        <td>{{trace.formated_date}}</td>
        <td>{{trace.end_time - trace.start_time}} ms</td>
      </tr>
  </table>
</div>
  </div>
</script>
  
<script type="text/ng-template" id="two.tpl.html">
  <div id="timeline">
  <h1>TimeLine</h1>
  <div class="alert {{page.timelineAlertType}}" role="alert">{{timelineStatus}}</div>
  <div google-chart chart="chartObject" style="height: 100%;"></div>
  </div>
</script>

<script type="text/ng-template" id="three.tpl.html">
  <div id="dependencytree">
    <h1>Dependency Tree</h1>
    <div class="alert {{page.alertType}}" role="alert">{{reqStatus}}</div>
    <div google-chart chart="dependencyTreeObject" style="height: 100%;"></div>
  </div>
</script>

<script type="text/ng-template" id="four.tpl.html">
  <div id="distribution">
    <div id="distributionHeader">
      <h1>Trace Distribution</h1>
    </div>
    <div class="alert {{page.alertType}}" role="alert">{{reqStatus}}</div>
    <div class="btn-group">
    <h4>Chart Type</h4>
          <label class="btn btn-primary" ng-model="checkModel.left" ng-click="setChartType('PieChart')">Pie</label>
          <label class="btn btn-primary" ng-model="checkModel.right" ng-click="setChartType('BarChart')">Bar</label>
        </div>

         <div class="btn-group">
    <h4>Count By</h4>
          <label class="btn btn-primary" ng-model="checkModel.left" ng-click="setByCount('Hostname')">Host Name</label>
          <label class="btn btn-primary" ng-model="checkModel.middle" ng-click="setByCount('TraceCount')">Trace Count</label>
          <label class="btn btn-primary" ng-model="checkModel.right" ng-click="setByCount('Duration')">Trace Duration</label><br>
        </div>

   <div google-chart chart="distributionChartObject" style="{{cssStyle}}"></div>
  </div>
</script>

